.embed-container {
    width: 280px;
    height: 120px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;

    transition : 0.5s;
  }

  .embed-container:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    width : 326px;
    height : 444px;

    transition : 0.5s;

  }

  .image-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .image-slider img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: filter 0.5s ease-in-out;
  }
  
  .flash {
    animation: flash 0.5s ease-in-out;
  }
  
  @keyframes flash {
    0% {
      filter: brightness(1);
    }
    50% {
      filter: brightness(10);
    }
    100% {
      filter: brightness(1);
    }
  }