.embed-container {
    width: 350px;
    height: 120px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;

    transition : 0.5s;
  }

  .embed-container:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    /* Has to be exact width and height as the fetched embed iframe (as seen in inspect element).
       Inline style cannot be overwritten and fit-content doesn't work either bcs it
       has a bottom margin...
       Could get height after loading and adjust height but that could be choppy.*/
    height : 444px;

    transition : 0.5s;

  }

  .image-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .image-slider img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: filter 0.5s ease-in-out;
  }
  
  .flash {
    animation: flash 0.5s ease-in-out;
  }
  
  @keyframes flash {
    0% {
      filter: brightness(1);
    }
    50% {
      filter: brightness(10);
    }
    100% {
      filter: brightness(1);
    }
  }