 .leaflet-popup-content-wrapper {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }

  .leaflet-popup-content-wrapper.fade-in {
    opacity: 1;
  }

  .custom-button {
    /* position: absolute;
    top: 80%;
    left: 47%;*/
    z-index: 999;
    background-color: #8B0000;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s ease, transform 0.2s ease;
  }

  /* Tooltip pseudo-element */
  .custom-button::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 110%; /* positions the tooltip above the button */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  /* Show the tooltip on hover */
  .custom-button:hover::after {
    opacity: 1;
  }

  .custom-button:hover {
    background-color: #a70000;
    transform: scale(1.1);
    transition: background-color 0.2s ease, transform 0.2s ease;
  }

  :host ::ng-deep .popup-list li {
    cursor : default;
    user-select: none;
  }
  
  :host ::ng-deep .popup-list li.hitno:hover {
    color: crimson;
  }
  
  :host ::ng-deep .popup-list li.manjak:hover {
    color: mediumblue;
  }
  
  :host ::ng-deep .popup-list li.visak:hover {
    color: skyblue;
  }
  :host ::ng-deep .group-header{
    user-select : none;
    cursor : default;
  }

  :host ::ng-deep .group-title{
    user-select : none;
    cursor : default;
  }