<nav class="sticky top-0 z-10 bg-zinc-900/20 backdrop-filter backdrop-blur-lg border-b border-zinc-700/10 shadow-md">
    <div class="screen-stable max-w-screen-xl flex flex-wrap text-white items-center justify-between mx-auto p-2">
        <!-- Left side: Navigation links -->
        <div class="flex items-center">
            <ul class="flex gap-8 px-2 my-1 items-center flex-wrap">
                <li><a class="nav-link" routerLink="/" routerLinkActive="font-bold"
                        [routerLinkActiveOptions]="{ exact: true }">{{
                        "ZAHTEVI"
                        | translate }}</a></li>
                <li><a class="nav-link hover:text-red-500 hover:underline hover:font-bold focus:text-red-500 focus:underline focus:font-bold"
                        routerLink="/donations" routerLinkActive="font-bold">{{ "DONACIJE" | translate }}</a></li>
                <li><a class="nav-link hover:text-red-500 hover:underline hover:font-bold focus:text-red-500 focus:underline focus:font-bold"
                        routerLink="/announcements" routerLinkActive="font-bold">{{ "NAJAVE" | translate }}</a></li>
                <li><a class="nav-link hover:text-red-500 hover:underline hover:font-bold focus:text-red-500 focus:underline focus:font-bold"
                        routerLink="/incidents" routerLinkActive="font-bold">{{ "INCIDENTI" | translate }}</a></li>
                <li><a class="nav-link hover:text-red-500 hover:underline hover:font-bold focus:text-red-500 focus:underline focus:font-bold"
                        routerLink="/media" routerLinkActive="font-bold">{{ "MEDIJI" | translate }}</a></li>
                <li><a class="nav-link hover:text-red-500 hover:underline hover:font-bold focus:text-red-500 focus:underline focus:font-bold"
                        routerLink="/faq" routerLinkActive="font-bold">{{ "FAQ" | translate }}</a></li>
                <li><a class="nav-link hover:text-red-500 hover:underline hover:font-bold focus:text-red-500 focus:underline focus:font-bold"
                        routerLink="/contact" routerLinkActive="font-bold">{{ "KONTAKT" | translate }}</a></li>
            </ul>
        </div>


        <!-- Right side: Language Dropdown -->
        <div
            class="relative flex items-center md:order-2 space-x-1 md:space-x-0 rounded-lg border border-transparent hover:bg-gray-700">
            <button (click)="toggleLangDropdown()" type="button" data-dropdown-toggle="language-dropdown-menu"
                class="inline-flex items-center font-medium justify-center px-4 py-2 text-sm text-white rounded-lg cursor-pointer inset-shadow-sm">
                {{ siteLangugage }} ▼
            </button>
            <div *ngIf="langDropdownOpen"
                class="absolute items-center fit-container top-6 z-50 my-4 text-base list-none bg-white/5 divide-white rounded-lg shadow-md"
                id="language-dropdown-menu">
                <ul class="px-2 my-auto font-medium fit-container">
                    <li *ngFor="let lang of languageList" (click)="changeSiteLanguage(lang.code)"
                        class="block px-4 py-2 mx-1 fit-container text-zinc-200 hover:bg-gray-600 hover:text-white">
                        <div class="inline-flex fit-container items-center">
                            {{ lang.label }}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>