<main>
    <div class="flex justify-center min-h-screen pt-10">
        <div
            class="max-w-8xl w-full p-4 backdrop-filter backdrop-blur-lg bg-zinc-800/30 border-1 border-zinc-700/10 rounded-xl">
            <h2 class="mb-4">{{ "COMMON_QUESTIONS" | translate }}</h2>

            <div *ngFor="let item of faqItems; let i = index"
                class="backdrop-filter backdrop-blur-none font-content m-2 my-3">
                <button
                    class="w-full flex justify-between items-center text-left font-medium text-lg py-3 px-4 bg-neutral-900 text-stone-200 !rounded-2xl shadow-md focus:outline-none"
                    (click)="toggleItem(i)">
                    <span>{{ item.question }}</span>
                    <svg class="w-5 h-5 flex-shrink-0 transform transition-transform"
                        [ngClass]="{ 'rotate-180': item.isOpen }" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </button>
                <div *ngIf="item.isOpen"
                    class="overflow-hidden bg-gradient-to-bl from-zinc-700/10 to-zinc-500/10 border-1 border-zinc-700/10 text-neutral-200 transition-all duration-200 rounded-2xl mt-1 shadow-xl shadow-zinc-950/50">
                    <div class="p-4">
                        {{ item.answer }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>