<div class="media-container">
  <!-- Loader overlay (displayed while media is loading) -->
  <app-loading *ngIf="mediaLoading"></app-loading>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- Image Slider -->
        <div class="image-slider">
          <!-- Current image (visible) -->
          <img
            [src]="images[currentImageIndex]"
            class="img-fluid current-image"
            alt="Slideshow Image"
            image-rendering="pixelated">
          <!-- Next image (used during transition) -->
          <img
            class="img-fluid next-image"
            alt="Slideshow Image"
            image-rendering="pixelated">
          <!-- Left arrow clickable area -->
          <div class="arrow arrow-left" (click)="previousImage($event)">
            &#10094;
          </div>
          <!-- Right arrow clickable area -->
          <div class="arrow arrow-right" (click)="nextImage($event)">
            &#10095;
          </div>
        </div>

        <!-- Instagram Profiles -->
        <div class="space-mono-regular bg-transparent text-white p-4">
          <div class="d-flex flex-wrap justify-content-center gap-4">
            <div *ngFor="let profile of instagramProfiles" class="embed-container">
              <blockquote
                class="instagram-media"
                [attr.data-instgrm-permalink]="'https://www.instagram.com/' + profile.username + '/'"
                data-instgrm-version="14">
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
