<div class="media-container relative">
  <!-- Loader overlay (displayed while media is loading) -->
  <app-loading *ngIf="mediaLoading"></app-loading>

  <!-- Slideshow Container (full width on mobile) -->
  <div class="w-full">
    <div class="image-slider relative w-full md:h-[650px] h-[550px] overflow-hidden cursor-default">
      <!-- Current image (visible) -->
      <img
        [src]="images[currentImageIndex]"
        class="current-image absolute top-0 left-0 w-full h-full object-cover z-20"
        alt="Slideshow Image"
        style="image-rendering: pixelated;">
      <!-- Next image (used during transition) -->
      <img
        class="next-image absolute top-0 left-0 w-full h-full object-cover z-10"
        alt="Slideshow Image"
        style="image-rendering: pixelated;">
      <!-- Left arrow clickable area -->
      <div
        (click)="previousImage($event)"
        class="arrow arrow-left absolute top-1/2 left-2 transform -translate-y-1/2 text-2xl text-white/70 hover:text-white cursor-pointer select-none z-30">
        &#10094;
      </div>
      <!-- Right arrow clickable area -->
      <div
        (click)="nextImage($event)"
        class="arrow arrow-right absolute top-1/2 right-2 transform -translate-y-1/2 text-2xl text-white/70 hover:text-white cursor-pointer select-none z-30">
        &#10095;
      </div>
    </div>
  </div>

  <!-- Instagram Profiles 
  <div class="container mx-auto px-4 mt-8">
    <div class="bg-transparent text-white p-4 font-mono">
      <div class="flex flex-wrap justify-center gap-4">
        <div
          *ngFor="let profile of instagramProfiles"
          class="embed-container relative overflow-hidden h-[350px] rounded-br-[100px] transition-all duration-300 ease-in-out hover:rounded-tl-[10px] hover:rounded-none">
          <blockquote
            class="instagram-media"
            [attr.data-instgrm-permalink]="'https://www.instagram.com/' + profile.username + '/'"
            data-instgrm-version="14">
          </blockquote>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Social Media -->
  <div class="container mx-auto px-4 mt-8">
    <!-- Instagram -->
    <div class="mb-8">
      <h2 class="text-2xl font-mono text-white mb-4 text-center">Instagram</h2>
      <div class="bg-transparent text-white p-4 font-mono">
        <div class="flex flex-wrap justify-center gap-4">
          <div
            *ngFor="let profile of instagramProfiles"
            class="embed-container relative overflow-hidden h-[350px] rounded-br-[100px] transition-all duration-300 ease-in-out hover:rounded-tl-[10px] hover:rounded-none instagram-embed">
            <blockquote
              class="instagram-media"
              [attr.data-instgrm-permalink]="'https://www.instagram.com/' + profile.username + '/'"
              data-instgrm-version="14">
            </blockquote>
          </div>
        </div>
      </div>
    </div>

    <!-- YouTube -->
<div class="mb-8">
  <h2 class="text-2xl font-mono text-white mb-4 text-center">YouTube</h2>
  <div class="bg-transparent text-white p-4 font-mono">
    <div class="flex flex-wrap justify-center gap-4">
      <div
        *ngFor="let channel of youtubeChannels"
        class="embed-container relative overflow-hidden h-[350px] rounded-tl-[100px] transition-all duration-300 ease-in-out hover:rounded-br-[10px] hover:rounded-none youtube-embed">
        <iframe
          width="100%"
          height="100%"
          [src]="channel.embedUrl | safe"
          title="YouTube channel videos"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>


    <!-- Twitter -->
    <div class="mb-8">
      <h2 class="text-2xl font-mono text-white mb-4 text-center">Twitter</h2>
      <div class="bg-transparent text-white p-4 font-mono">
        <div class="flex flex-wrap justify-center gap-4">
          <div
            *ngFor="let profile of twitterProfiles"
            class="embed-container relative overflow-hidden h-[350px] rounded-bl-[100px] transition-all duration-300 ease-in-out hover:rounded-tr-[10px] hover:rounded-none twitter-embed">
            <a 
              class="twitter-timeline" 
              [attr.href]="'https://twitter.com/' + profile.username + '?ref_src=twsrc%5Etfw'"
              data-theme="dark"
              data-tweet-limit="5"
              data-chrome="nofooter noborders transparent"
              data-height="500">
              Tweets by {{profile.username}}
            </a>
          </div>
        </div>
      </div>
    </div>
    
  </div>

</div>
