/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

.nav-underline .nav-link:hover {
    color: #FF0000;
    /* Change text color on hover */
}

.nav-underline .nav-link.active {
    color: #FF0000;
    /* Change text color for active link */
}

.nav-link {
    color: #FFFF;
}

body {
    font-family: 'Space Mono';
    background-color: black;
    color: white;
}

.space-mono-regular {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-style: normal;
}

.space-mono-regular-italic {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: italic;
}

.space-mono-bold-italic {
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-style: italic;
}